/*
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body {
		margin: 0px;
		padding: 0px;
		background: #1a1a1a;
                font-family: 'Ubuntu', sans-serif;
                /*font-family: 'Vollkorn SC', serif;*/
		font-size: 11pt;
		color: #000000;
	}

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	h2 {
		padding: 0px 0px 20px 0px;
		letter-spacing: -1px;
		font-size: 1.8em;
	}

	p, ol, ul {
		margin-top: 0px;
		line-height: 160%;
	}

	p {
		margin-bottom: 2em;
		line-height: 160%;
	}


        light {
            font-weight: 300;
        }
	b {
		font-weight: 700;
	}

	a {
		color: #A2A2A2;
	}

	a:hover {
		text-decoration: none;
	}

		/* Images */

			.image
			{
				display: inline-block;
			}
			
			.image img
			{
				display: block;
				width: 100%;
                                border-radius: 3%;
                                box-shadow: 4px 8px 10px 0px rgba(0,0,0,0.2)
			}

			.image.featured
			{
				display: block;
				width: 100%;
                                border-radius: 20px;
			}
               
                        .image.shrink
                        {
                                display: block;
                                width: 250px;
                                margin-bottom: 2em;
                        }
				
			.image.full
			{
				display: block;
				width: 100%;
				margin-bottom: 2em;
			}
				
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

			.image.centered img
			{
				margin: 0 auto;
				width: auto;
			}
                        .thumbnail:hover 
                        {
                                position:fixed;
                                top:10px;
                                left:75px;
                                width:auto;
                                max-width:100%;
                                height:95%;
                                display:block;
                                margin:auto;
                                z-index:999;
                        }

		    header
		    {
			margin-bottom: 1em;
		    }   
			
                    header h1
                    {
                        font-weight: 700;
                    }

		    header h2
		    {
			font-weight: 500;
		    }
		
		    header .byline
		    {
		    	display: block;
			margin: 0.5em 0 0 0;
	    		padding: 0 0 0.5em 0;
	            }

		ul.style
		{
		}
		
		ul.style li
		{
			padding: 0.55em 0em;
		}
		
		ul.style li:first-child
		{
		}
		
		ul.style a
		{
			color: #283A10 !important;
		}

		ul.style1
		{
		}
		
		ul.style1 li
		{
			padding: 0.55em 0em;
		}
		
		ul.style1 li:first-child
		{
		}
		
		ul.style1 a
		{
			color: #774535 !important;
		}

		ul.style1 img
		{
			float: left;
			margin-right: 1em;
                        border-radius: 5%;
                        box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.2)
		}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}

		#header .container
		{
			position: relative;
			padding: 5em 0em;
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		left: 0em;
		top: 1em;
	}
	
		#logo h1
		{
			color: #FFF;
		}
	
		#logo a
		{
			display: block;
			text-decoration: none;
			font-size: 2.8em;
			font-weight: 700;
			color: #FFF;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
/*
	#nav
	{
		position: fixed;
		right: 0em;
		top: 2.5em;
                cursor: pointer;
	}

		#nav > ul > li
		{
			float: left;
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				margin-left: 0.7em;
				padding: 0.60em 1.0em;
				letter-spacing: 0.06em;
				text-decoration: none;
				font-size: 1em;
				outline: 0;
				color: #FFF;
			}

			#nav li.active a
			{
				background: #56c9d6;
				border-radius: 5px;
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}*/
 /*********************************************************************************/
 /* Nav Dropdown                                                                  */
 /*********************************************************************************/

    /* Navbar container */
    .navbar {
        overflow: hidden;
        width: 100%;
        background-color: #1a1a1a;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 1em;
    }

    /* Links inside the navbar */
    .navbar a {
        float: right;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 5px;
    }

    /* The dropdown container */
    .dropdown {
        float: right;
        overflow: hidden;
    }

    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 14px 16px;
        background-color: inherit;
        border-radius: 5px;
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #77BA9B;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #77BA9B;
        color: white;
        width: 100%;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    } 


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #77BA9B /* url(../images/bighorns.jpg)*/ no-repeat center;
		background-size: cover;
	}
	
	.homepage #banner
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
		padding: 6em 0em;
		background: #1B2A45;
		color: #74AAF7;
	}
	
	#main header h2
	{
		color: #D0C691;
	}
	
	#main a
	{
		color: #D0C691;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		position: relative;
		padding: 6em 0em 4em 0em;
		/*background: #c9c9cc;*/
                background: #ffffff
	}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/

	#marketing
	{
		position: relative;
		padding: 6em 0em;
		background: #233559;
		color: #74AAF7;
	}
	
	#marketing header h2
	{
		color: #D0C691;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: relative;
		padding: 3em 0em;
		text-align: center;
		color: #233559;
	}
	
	#copyright .container
	{
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #D0C691 !important;
	}		
