/*
	Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}

		#header .container
		{
			position: relative;
			padding: 1em 0em;
		}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		left: 0em;
		top: 2em;
	}
	
		#logo h1
		{
			color: #FFF;
		}
	
		#logo a
		{
			display: block;
			text-decoration: none;
			font-size: 2.8em;
			font-weight: 700;
			color: #FFF;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
/*
	#nav
	{
		position: absolute;
		right: 0em;
		top: 2.5em;
	}

		#nav > ul > li
		{
			float: left;
		}
		
			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				display: block;
				margin-left: 0.7em;
				padding: 0.80em 1.2em;
				letter-spacing: 0.06em;
				text-decoration: none;
				font-size: 1em;
				outline: 0;
				color: #FFF;
			}

			#nav li.active a
			{
				background: #56c9d6;
				border-radius: 5px;
				color: #FFF;
			}

			#nav > ul > li > ul
			{
				display: none;
			}
*/
/*********************************************************************************/
/* Nav Dropdown                                                                  */
/*********************************************************************************/
   /* Navbar container */
   .navbar {
       overflow: hidden;
       width: 100%;
       background-color: #1a1a1a;
       font-family: 'Ubuntu', sans-serif;
       padding: 1em;
   }

   /* Links inside the navbar */
   .navbar a {
       float: right;
       font-size: 16px;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       border-radius: 5px;
   }
 
   /* The dropdown container */
   .dropdown {
       float: right;
       overflow: hidden;
   }
 
   /* Dropdown button */
   .dropdown .dropbtn {
       font-size: 16px;
       border: none;
       outline: none;
       color: white;
       font-family: 'Ubuntu', sans-serif;
       padding: 14px 16px;
       background-color: inherit;
       border-radius: 5px;
    }
 
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #77BA9B;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #77BA9B;
        color: white;
        width: 100%;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 0em 0em;
	}

	.homepage #banner
	{
		padding: 0em 0em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0em;
	}
	
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		padding: 6em 0em 4em 0em;
	}

/*********************************************************************************/
/* Marketing                                                                     */
/*********************************************************************************/

	#marketing
	{
		padding: 6em 0em;
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		padding: 3em 0em;
	}
	
