[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=index.html
Type=Link
URL=https://docs.google.com/document/d/1oipy5u-mEslWMUmQjLq06uAAF9yUFvp9btXJHuetjQY/edit?usp=drivesdk
